@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <label class="text-info">This is my first ASP.NET MVC Web Application hosted in Microsoft Azure portal.</label>
        <br />
        <label class="bg-info">
            @DateTime.Now
        </label>
    </div>
</div>