@page
@model MvcTwitterAuthentication.Pages.Razor.IndexModel
@{
}

<h1>An index page, without any authentication</h1>

Follow the link <a href="https://www.youtube.com/watch?v=yz0trzQ0KXY">
    ASP.NET Core 3 - Authorization - Ep. 4.1 Razor Authorization
</a> for more details.
