@page
@model MvcTwitterAuthentication.Pages.Razor.SecuredModel
@{
}


<h1>This page shall be displayed after user is authenticated and authorized.</h1>

Follow the link <a href="https://www.youtube.com/watch?v=yz0trzQ0KXY">
    ASP.NET Core 3 - Authorization - Ep. 4.1 Razor Authorization
</a> for more details.
